<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet" >
  </head>
  <body>
    <div>
      <div style="padding: 10px">
        <img style="max-width: 180px" src="https://static.cocstorage.com/images/logo.png" />
      </div>
      <div style="padding: 5% 0;">
        <div style="max-width: 350px; margin: auto; padding: 1em 0; text-align: center; border: 1px solid #EAEAEA; border-radius: 5px;">
          <div style="margin: 2em 0; font-family: Noto Sans KR; font-size: 25px; font-weight: 500;">
            이메일 인증
          </div>
          <div style="margin-bottom: 2em; color: rgba(0, 0, 0, 0.54); font-family: Noto Sans KR; font-size: 13px;">
            아래의 버튼을 클릭하여 인증을 완료해주세요.
          </div>
          <div style="margin-bottom: 2em;">
            <div style="
                width: 100%;
                max-width: 200px;
                margin: auto; padding:
                10px; border: none;
                background-color: #8EC5FC;
                border-radius: 5px;
                font-family: Noto Sans KR;
                font-size: 13px;
                font-weight: 500;
                color: white;
                cursor: pointer;"
            >
              <a href="<%= ENV['MAILER_DEFAULT_URL'] %>/users/authentication/<%= @uuid %>" style="
                  padding: 10px;
                  text-decoration: none;
                  font-family: Noto Sans KR;
                  font-size: 13px;
                  color: white;"
              >인증하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
