files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq.sh":
    mode: "000755"
    content: |
        #!/bin/bash
        . /opt/elasticbeanstalk/support/envvars
        PIDFILE1=/var/app/containerfiles/pids/sidekiq.pid
        if [ -f ${PIDFILE1} ]
        then
            kill -USR1 `cat ${PIDFILE1}`
            rm -rf /var/app/containerfiles/pids/sidekiq.pid
        fi
        PIDFILE2=/var/app/containerfiles/pids/sidekiq_scrap.pid
        if [ -f ${PIDFILE2} ]
        then
            kill -USR1 `cat ${PIDFILE2}`
            rm -rf /var/app/containerfiles/pids/sidekiq_scrap.pid
        fi
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq_scrap.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq_scrap || initctl start sidekiq_scrap
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/03_mute_sidekiq.sh":
    mode: "000755"
    content: |
        #!/bin/bash
        . /opt/elasticbeanstalk/support/envvars
        PIDFILE1=/var/app/containerfiles/pids/sidekiq.pid
        if [ -f ${PIDFILE1} ]
        then
            kill -USR1 `cat ${PIDFILE1}`
            rm -rf /var/app/containerfiles/pids/sidekiq.pid
        fi
        PIDFILE2=/var/app/containerfiles/pids/sidekiq_scrap.pid
        if [ -f ${PIDFILE2} ]
        then
            kill -USR1 `cat ${PIDFILE2}`
            rm -rf /var/app/containerfiles/pids/sidekiq_scrap.pid
        fi
  "/opt/elasticbeanstalk/hooks/configdeploy/post/50_restart_sidekiq.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
  "/opt/elasticbeanstalk/hooks/configdeploy/post/50_restart_sidekiq_scrap.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq_scrap || initctl start sidekiq_scrap
  "/opt/elasticbeanstalk/hooks/restartappserver/pre/03_mute_sidekiq.sh":
    mode: "000755"
    content: |
        #!/bin/bash
        . /opt/elasticbeanstalk/support/envvars
        PIDFILE1=/var/app/containerfiles/pids/sidekiq.pid
        if [ -f ${PIDFILE1} ]
        then
            kill -USR1 `cat ${PIDFILE1}`
            rm -rf /var/app/containerfiles/pids/sidekiq.pid
        fi
        PIDFILE2=/var/app/containerfiles/pids/sidekiq_scrap.pid
        if [ -f ${PIDFILE2} ]
        then
            kill -USR1 `cat ${PIDFILE2}`
            rm -rf /var/app/containerfiles/pids/sidekiq_scrap.pid
        fi
  "/opt/elasticbeanstalk/hooks/restartappserver/post/50_restart_sidekiq.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
  "/opt/elasticbeanstalk/hooks/restartappserver/post/50_restart_sidekiq_scrap.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq_scrap || initctl start sidekiq_scrap