files:
  "/etc/init/sidekiq.conf":
    mode: "120400"
    content: "/opt/elasticbeanstalk/support/conf/sidekiq.conf"
  "/etc/init/sidekiq_scrap.conf":
    mode: "120400"
    content: "/opt/elasticbeanstalk/support/conf/sidekiq_scrap.conf"

commands:
  reload_initctl_for_sidekiq:
    command: "initctl reload-configuration"